PORT=your port number
MONGODB_URI= grab this from mongoDB > clusters > connect > compass > copy connection string
CORS_ORIGIN=* // * means requests can come from anywhere. You should technically write the name
ACCESS_TOKEN_SECRET=//generate using SHA256
ACCESS_TOKEN_EXPIRY=1d //any number of days
REFRESH_TOKEN_SECRET=//generate using SHA256
REFRESH_TOKEN_EXPIRY=10d //any number of days but usually longer than access


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=